<div class="info-side fl-l">
    <a href="/info/about" class="dp-b<%= pos == 'about' ? ' border' : '' %>">关于我们</a>
    <a href="/info/problems" class="dp-b<%= pos == 'problems' ? ' border' : '' %>">常见问题</a>
    <a href="/info/terms" class="dp-b<%= pos == 'terms' ? ' border' : '' %>">服务条款</a>
    <!--<a href="/info/map" class="dp-b<%= pos == 'map' ? ' border' : '' %>">网站地图</a>-->
    <a href="/info/connect" class="dp-b<%= pos == 'connect' ? ' border' : '' %>">联系我们</a>
</div>