</head>
<body>
<% var lv; %>
<% switch (user && 'company' in user && user.company && 'accountLevel' in user.company && user.company.accountLevel) {
    case 0:
        lv = 'D';
        break;
    case 1:
        lv = 'C';
        break;
    case 2:
        lv = 'B';
        break;
    case 3:
        lv = 'A';
        break;
    case 4:
        lv = 'VIP';
        break;
} %>

<div class="main-head">
    <!--<div class="header" style="display:none">-->
        <!--<div class="container">-->
            <!--<p class="fl-l">客服热线：021-31157505-8011  </p>-->
        <!--</div>-->
    <!--</div>-->
    <div class="banner" style="background-color:#006bbd;">
        <div class="container" style="background-color:#006bbd;">
            <a class="dp-b fl-l head-logo" href="/home"></a>
            <% if(pos != 'login' && pos != 'register' && pos != 'forget' && pos != 'deal'){ %>
            <ul class="banner-box fl-l" style="margin-bottom:0;">
                <li class="<%= pos == 'home' ? 'active' : '' %>" style="background-color:#006bbd;"><a href="/home">首页</a></li>
                <li class="<%= pos == 'airline' ? 'active' : '' %>" style="background-color:#006bbd;"><a href="javascript:void(0)">收藏店铺</a></li>
                <!--<li class="<%= pos == 'mix' ? 'active' : '' %>" style="background-color:#006bbd;"><a href="/delivery/mix">散货拼货</a></li>-->
                <li class="<%= pos == 'special' ? 'active' : '' %>" style="background-color:#006bbd;"><a href="/login/agentRegister">货代加盟</a></li>
                <!--<li class="<%= pos == 'special' ? 'fast' : '' %>"><a href="/delivery/fast">快速订舱</a></li>-->
                <!--<li class="<%= pos == 'tools' ? 'active' : '' %>"><a href="/tools">实用工具</a></li>-->
                <li class="<%= pos == 'vip' ? 'active' : '' %>" style="background-color:#006bbd;"><a
                            href="/vip">帮助中心</a></li>
            </ul>
            <% } else { %>
            <% if(pos == 'agentRegister'){ %>
            <p class="fl-l">注册</p>
            <% }else if(pos == 'forget'){ %>
            <p class="fl-l">找回密码</p>
            <% }else if(pos == 'deal'){ %>
            <p class="fl-l">空运邦用户协议</p>
            <% }else{ %>
            <p class="fl-l">欢迎来到空运邦，请登录</p>
            <% } %>
            <% } %>
            <% if('member' in user && user.member){ %>
            <div class="fl-r vip-part" data-open="0">
                <div class="fill show-top-part">
                    <% if(notes && (parseInt(notes.orderCount || 0) + parseInt(notes.systemCount || 0)) != 0){ %>
                    <span class="dp-ib fl-r number"></span>
                    <% } %>
                    <span class="dp-ib fl-r name"><%= 'name' in user.member && user.member.name || 'mobile' in user.member && user.member.mobile || '-' %></span>
                    <span class="fl-r lv-icon-top lv-icon-top-<%= lv %>"></span>
                    <span class="icon dp-ib fl-l glyphicon glyphicon-chevron-down"></span>
                </div>
                <ul class="vip-select dp-n">
                    <li class="lv">
                        <span class="fl-l"><%= lv %>级会员</span>
                        <span class="fl-r icon-<%= lv %>"></span>
                    </li>
                    <li>
                        <a href="/vip">会员中心</a>
                    </li>
                    <li>
                        <span class="half">
                            <a href="/vip/note?tp=unread&ta=order">订单
                                <% if(notes && 'orderCount' in notes && notes.orderCount){ %>
                                （<%= notes.orderCount || 0 %>）
                                <% } %>
                            </a>
                        </span>
                        <span class="half">
                            <a href="/vip/note?tp=unread&ta=system">消息
                                <% if(notes && 'systemCount' in notes && notes.systemCount){ %>
                                （<%= notes.systemCount || 0 %>）
                                <% } %>
                            </a>
                        </span>
                    </li>
                    <!--<li><a href="/vip/auth">资质认证</a></li>-->
                    <li><a href="/login/out">退出</a></li>
                </ul>
            </div>
            <% }else{ %>
            <div class="fl-r login-part">
                <a class="dp-ib fl-l" href="/newLogin">登录</a>
                <a class="dp-ib fl-l" href="/login/agentRegister">注册</a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%# 侧边栏 %>
<div class="aside">
    <div class="aside-part online-chat"><a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=2355799905&site=qq&menu=yes"></a></div>
    <div class="aside-part tel-number"><span class="dp-b"></span></div>
    <div class="aside-part wechat-logo">
        <div class="big-wechat">
            <div class="wechat-url"></div>
        </div>
    </div>
    <div class="aside-part back-top"></div>
</div>